venv/
.idea/
static/
blog/__pycache__/

posts/__pycache__/
posts/api/__pycache__/
posts/migrations/__pycache__/

categories/__pycache__/
categories/api/__pycache__/
categories/migrations/__pycache__/

users/__pycache__/
users/migrations/__pycache__/
users/api/__pycache__/
